/* Dashboard.module.css */
.dashboard {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.optionButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.optionButton:hover {
  background-color: #0056b3;
}

.activeOption {
  background-color: #0056b3;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.option1Content h2,
.option2Content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
